@import "~bootstrap/scss/bootstrap";

html, body, #root {
  height: 100vh;
}

.App {
  height: 100%;
}

.clear-link {
  text-decoration: none;

  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}
